
/* FONT FACE */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/normal.woff) format("woff"),
     url(fonts/normal.ttf) format("truetype");
    }


/* typografie */
html,
body {
    font-family: 'Arimo', 'Helvetica Neue', 'HelveticaNeue', 
      Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-print-color-adjust:exact;
}

.preloader {
    position:absolute; 
    top:48%; 
    left:48%; 
    z-index:3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
}


h1{
    font-size: 30px;
}
h2{
    font-size: 23px;
    line-height: 1.4;

}

h3{
    font-weight: bold;
}

#intro {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(81,137,178,0.9);
    z-index:2;
}
#intro .head,
#intro .content{
    color: white;
}

#intro p {
    font-size: 20px;
}
#intro .content .button {
    float: right;
    margin-top: 15px;
}
.button {
    display: block;
    width: 100px;
    background-color: white;
    background-color:#fff;
    border:1px solid #5B74A8;
    padding:12px 36px;
    color:#5B74A8;
    border-radius:5px;
    cursor: pointer;
}

#map {
    width: 800px;
    height: 500px;
    width: 100vw;
    height: 100vh;
}
#variablesButton {
    z-index: 1;
    position:absolute; 
    top:0; 
    left:0; 
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
}

#intro .head,
#intro .content,
#variablesButton .head {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    margin-top: 15px;
    margin-bottom: 15px;
}


#variablesButton #hamburger {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/hamburger.svg");
    background-size: cover;
}


#variablesButton li {
    display: inline-block; 
    padding: 4px;
    cursor: pointer;
}


#variablesButton li:hover {
    background-color: #5189B2 !important;
}

#variablesButton li img {
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#variablesButton li span{
    float: right;
    margin-left: 5px;
    line-height: 100px;
}

#sidebar {
    position:absolute; 
    top:0px; 
    left:0; 
    background-color: #5189B2;
    width: 27vw;
    height: 100vh;
    font-size: 13px;
    line-height: 1.4;
}



#sidebar #header {
    margin-top: 65px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 1270px) {
    #sidebar #header {
        margin-top: 115px;
    }
}



#sidebar #content {
    margin-top: 15px;
    margin-left: 5px;
}
#sidebar #content .image {
    display: block;
    height: 22vh;
    width: 25vw;
    width: calc( 27vw - 10px );
    background-size: cover;
    background-position: center;
}



/* Do a fancy data transition for browsers that support it */
path {
  -webkit-transition:fill 800ms;
          transition:fill 800ms;
  }

#sidebar #legenda {
    position: absolute;
    bottom: 5px;
    margin-left: 5px;

}

#sidebar #legenda div {
    width: 3vw;
    height: 20px;
    display: inline-block;
}

@media (max-width: 1270px) {
    #sidebar #legenda div {
        width: 2.8vw;
    }
}

#sidebar #legenda span {
    width: 47%;
}
/*#legenda { 

    text-align: right;
    left:0; 
    width:214px; 
    width: 22vw;

}*/

/*#legenda .bestcountry {
    background-color: rgba(113,160,191,0.5);
    height: 50vh;
}
#legenda .hovercontent {
    background-color: rgba(255,96,0,0.5); /* FF6000 */ /*
    height: 50vh;
}
*/
/*#legenda img {
    width: 214px;
    width: 18vw;
}
*/








.leaflet-popup-content-wrapper {
    pointer-events: none;   
}




.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}


